
body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    /* Navigation bar styling */
nav {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
    }

nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

nav ul li {
        margin: 0 15px;
    }

nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

nav ul li a:hover {
        text-decoration: underline;
    }

/* General Text Styling */
h1 {
        text-align: center;
        font-size: 50px;
        margin-top: 50px;
    }

p {
        text-align: center;
        font-size: 24px;
        margin: 20px 0;
    }

/* Home page keywords */
#home_key_words {
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
    }

#footer {
        text-align: left;
        font-size: 14px;
        margin-top: 150px;
        padding: 20px 0;
    }

/* Reference page styling */
table, th, td {
        width: 90%;
        margin: 20px auto;
        border: 1px solid black;
        border-collapse: collapse;
    }


/*Image grid tutorial used: https://www.w3schools.com/howto/howto_js_image_grid.asp*/
/*Used to created the grid of images on the about page.*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
img {
  width: 50%;
  height: 50%;
}